
@model List<Kid>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Öğrenci Bilgileri</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Öğrenci bilgilerini buradan görüntüleyebilirsiniz.</h2>
                        </div>
                    </div>
                    <div class="table_section padding_infor_info">
                        <div class="table-responsive-sm">
                            <table class="table table-striped text-dark">
                                <thead>
                                    <tr class=" text-dark font-weight-bold">
                                        <th scope="col">Öğrenci Adı</th>
                                        <th scope="col">Yaş</th>
                                        <th scope="col">Ebeveyn Adı</th>
                                        <th scope="col">Ebeveyn Telefon</th>
                                        <th scope="col">Sınıfı</th>
                                        <th scope="col">Sil</th>
                                        <th scope="col">Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name
                                            <td>@item.Age</td>
                                            <td>@item.Parents.Name</td>
                                            <td>@item.Parents.Phone</td>
                                            <td>@item.Class.Name</td>
                                            <td width="120px"><a href="/Admin/Kid/DeleteKid/@item.KidID" class="btn btn-danger">Sil</a></td>
                                            <td width="120px"><a href="/Admin/Kid/UpdateKid/@item.KidID" class="btn btn-warning">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a href="/Admin/Kid/CreateKid" class="btn btn-primary">Sınıf Oluştur</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
