@model List<Teacher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Öğretmenler Kısmı</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <!-- table section -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Öğretmen Kısmını buradan görüntüleyebilirsiniz.</h2>
                        </div>
                    </div>
                    <div class="table_section padding_infor_info">
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ad Soyad</th>
                                        <th scope="col">Branş</th>
                                        <th scope="col">Facebook</th>
                                        <th scope="col">Instagram</th>
                                        <th scope="col">Linkedin</th>
                                        <th scope="col">Resim</th>
                                        <th scope="col">Sil</th>
                                        <th scope="col">Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td>@item.Branch</td>
                                            <td>@item.FacebookUrl</td>
                                            <td>@item.InstagramUrl</td>
                                            <td>@item.LinkedinUrl</td>
                                            <td>@item.ImageUrl</td>
                                            <td><a href="/Teacher/UpdateTeacher/@item.TeacherID" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/Teacher/UpdateTeacher/@item.TeacherID" class="btn btn-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a href="/Teacher/CreateTeacher" class="btn btn-primary">Öğretmen Kaydı Yap</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
