@model List<Teacher>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center"
         style="min-height: 400px">
        <h3 class="display-3 font-weight-bold text-white">Öğretmenlerimiz</h3>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="">Ana Sayfa</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">Öğretmenlerimiz</p>
        </div>
    </div>
</div>


<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Öğretmenlerimiz</span>
            </p>
            <h1 class="mb-4">Öğretmenlerimiz İle Tanışın..</h1>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3 text-center team mb-5">
                    <div class="position-relative overflow-hidden mb-4"
                         style="border-radius: 100%">
                        <img height="250px" width="250px" src="/teacherImages/@item.ImageUrl" alt="" />
                        <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-light text-center mr-2 px-0"
                               style="width: 38px; height: 38px"
                               href="@item.InstagramUrl">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-light text-center mr-2 px-0"
                               style="width: 38px; height: 38px"
                               href="@item.FacebookUrl">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-light text-center px-0"
                               style="width: 38px; height: 38px"
                               href="@item.LinkedinUrl">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <h4>@item.Name</h4>
                    <i>Branş : @item.Branch</i>
                </div>
            }

        </div>
    </div>
</div>

@await Component.InvokeAsync("_TestimonialPartial")


<div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="container-fluid pt-5"
         style="border-top: 1px solid rgba(23, 162, 184, 0.2) ;">
        <p class="m-0 text-center text-white">
            &copy;
            <a class="text-primary font-weight-bold" href="#">KidKinder </a>.
            Tüm hakları saklıdır.

            Designed by
            <a class="text-primary font-weight-bold" href="https://htmlcodex.com">Kadir GÜVEN</a>
            <br />Distributed By:
            <a href="#" target="_blank">Murat YÜCEDAĞ</a>
        </p>
    </div>
</div>
